<launch>
  <include file="$(find spot_description)/launch/description.launch"/>

  <rosparam>
    zeros:
      front_left_hip_y: 0.28
      front_left_knee: -0.8
      front_right_hip_y: 0.28
      front_right_knee: -0.8
      rear_left_hip_y: 0.28
      rear_left_knee: -0.8
      rear_right_hip_y: 0.28
      rear_right_knee: -0.8
  </rosparam>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find spot_viz)/rviz/model.rviz" />
</launch>
